<h1>Order Received</h1>
<p>Thank you for your order!</p>
<p>Here are your order details:</p>
<ul>
    <li>Name: <%= @order[:name] %></li>
    <li>Email: <%= @order[:email] %></li>
    <li>Phone: <%= @order[:phone] %></li>
    <li>Address: <%= @order[:address] %></li>
    <li>Items:
        <ul> <% @items.each do |item| %>
            <li><%= item.name %> - TL<%= item.price %></li>
            <% end %>
        </ul>
    </li>
    <li>Total: TL<%= @total_price %></li>
</ul>
